root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true

csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:suggestion

csharp_prefer_braces = true:warning
csharp_new_line_before_open_brace = all

[*.{csproj,sln}]
charset = utf-8
indent_size = 2
indent_style = space
